.message-feed-list {
    overflow: hidden;
    overflow-y: scroll;
}

.message-feed-item {
    padding: 8px 20px;
    display: flex;
    line-height: 1.46668;
    font-size: 15px;
    font-family: Lato;
    font-weight: 400;
    color: #d1d2d3;
    align-items: center;
}

.message-feed-item-content {
    display: flex;
    flex-direction: column;
    margin-left: 12px;
}

.message-feed-item-content-top {
    display: flex;
    align-items: baseline;
}

.message-feed-author {
    font-weight: 900;
}

.message-feed-time {
    font-size: 12px;
    color: #ABABAD;
    margin-left: 10px;
}

.message-feed-author-image {
    height: 36px;
    width: 36px;
    background-color: lightcoral;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.message-feed-author-initial {
    color: #D1D2D3;
    font-size: 18px;
    font-family: Lato;
    font-weight: 700;
}