.user-dashboard-center-main-message-composer {
    height: 180px;
    background-color: #1B1D21;
    padding-left: 20px;
    padding-right: 20px;
}

.user-dashboard-message-container {
    border-radius: 8px;
    font-family: Lato;
    border-color: #565856;
    background-color: #232529;
    border-style: solid;
    border-width: 1px;
    position: relative;
    display: flex;
    justify-content: space-between;
    height: 60px;
    align-items: center;
}

.user-dashboard-message-container:focus {
    border-color: white;
}

.message-input {
    background-color: transparent;
    border: none;
    padding-left: 20px;
    padding-right: 20px;
    width: 100%;
    color: #D1D2D3;
    font-family: Lato;
    resize: none;
}

.message-input:focus {
    outline: none;
}

.message-input::placeholder {
    color: #58595C;
}

.send-message-button {
    margin-right: 20px;
    background-color: transparent;
    color: #D1D2D3;
    border: none;
    cursor: pointer;
}