.welcome-nav-bar {
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 8vw;
}

.logged-in {
    background-color: #611f69;
}

.logged-out {
    background-color: #f6efe8;
}

.welcome-slack-logo {
    width: 125px;
    padding-right: 2rem;
}

.welcome-nav-bar-buttons {
    display: flex;
    align-items: center;
}

.try-demo {
    background-color: #611f69;
    color: white;
    margin-left: 1.25rem;
    border: none;
    padding: 0.75rem 1.0rem;
}

.try-demo:hover {
    background-color: #45164a;
    transition: background-color 0.3s ease-in-out;
}

.sign-up {
    margin-left: .5rem;
    color: #611f69;
    background-color: transparent;
    text-decoration: none;
    padding: 0.75rem 1rem;
    fill: #611f69;
    box-shadow: inset 0 0 0 1px #611f69;
    background: 0 0;
}

.sign-up:hover {
    box-shadow: inset 0 0 0 1.75px #611f69;
    transition: box-shadow 0.3s ease-in-out;
}

.sign-out {
    color: #611f69;
    background-color: white;
    text-decoration: none;
    fill: white;
    box-shadow: inset 0 0 0 1px white;
    margin-left: .5rem;
    border: none;
    padding: 0.75rem 1.0rem;
}

.sign-out:hover {
    box-shadow: inset 0 0 0 1.5px #611f69;
    transition: box-shadow 0.3s ease-in-out;
}

.welcome-nav-bar-button {
    display: inline-block;
    white-space: nowrap;
    flex-basis: auto;
    width: auto;
    font-size: .875rem;
    cursor:pointer;
    border-radius: 4px;
    text-transform: uppercase;
    line-height: 1.2857;
    text-align: center;
    font-weight: 700;
    letter-spacing: .8px;
    font-family: Arial;
}

.welcome-nav-bar-heading-logged-out {
    display: inline-block;
    color: #1d1d1d;
    border: 1px solid transparent;
    text-decoration: none;
    font-weight: 700;
    font-size: .9375rem;
    margin-right: 1.875rem;
    white-space: nowrap;
}

.welcome-nav-bar-heading-logged-in {
    display: inline-block;
    color: white;
    border: 1px solid transparent;
    text-decoration: none;
    font-weight: 700;
    font-size: .9375rem;
    margin-right: 1.875rem;
    white-space: nowrap;
}

.welcome-nav-bar-heading:hover {
    text-decoration: underline;
    transition: text-decoration 0.5s ease-in-out;
}

.welcome-nav-bar-left-section {
    display: flex;
    align-items: center;
}

.personal-links {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    padding: 0px;
}

.launch-slack-nav {
    margin-left: .5rem;
    color: white;
    background-color: transparent;
    text-decoration: none;
    padding: 0.75rem 1rem;
    box-shadow: inset 0 0 0 1px white;
    background: 0 0;
}

.launch-slack-nav:hover {
    box-shadow: inset 0 0 0 2px white;
    transition: box-shadow 0.3s ease-in-out;
}

.splash-page {
    margin: 0;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: Arial;
}
