.user-dashboard {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 44px 1fr;
}

.user-dashboard-nav-bar {
    background: #121016;
    box-shadow: 0 1px 0 0 rgb(209 210 211 / 10%);
    grid-row: 1/2;
    min-width: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    color: #D1D2D3;
}

.user-dashboard-main {
    display: grid;
    overflow: hidden;
    position: relative;
    grid-row: 2/-1;
    grid-template-columns: 16.25rem 2fr;
}

.user-dashboard-sidebar {
    overflow: auto;
    display: grid;
    position: relative;
    grid-column: 1/2;
    background-color: #19171D;
}

.user-dashboard-center {
    position: relative;
    min-width: 0;
    min-height: 0;
    display: grid;
    grid-column: 2/-1;
}