.user-dashboard-user-show {
    grid-column: 3/-1;
    width: 400px;
    border-left: 1px solid #2B2A30;
    background: #1B1D21;
}

.user-show-header {
    height: 50px;
    border-bottom: 1px solid #36373B;
    font-family: Lato;
    display: flex;
    justify-content: space-between;
    padding-left: 12px;
    padding-right: 16px;
    align-items: center;
}

.user-show-header-title {
    font-size: 18px;
    font-family: Lato, Arial, Helvetica, sans-serif;
    font-weight: 700;
    line-height: 1.33334;
    color: #D1D2D3;
}

.user-show-close-button {
    color: #D1D2D3;
    height: 1.2rem;
    width: 1.2rem;
    font-size: 24px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-radius: 5px;
}

.user-show-close-button:hover {
    background-color: #26282C;
    cursor: pointer;
}

.user-show-details {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.user-show-image {
    height: 256px;
    width: 256px;
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: lightcoral;
    border-radius: 6px;
    margin: 10px;
}

.user-show-initial {
    font-size: 50px;
    color: white
}

.user-show-display-name {
    color: #D1D2D3;
    font-family: Lato, sans-serif;
    font-size: 20px;
    font-weight: 700;
    margin-top: 10px;
}

.user-show-title {
    font-size: 15px;
    font-family: Lato, sans-serif;
    color: #D1D2D3;
    margin-top: 5px;
    margin-bottom: 20px;
}

.user-show-button {
    border-radius: 50%;
    color: #D1D2D3;
    background-color: #26282C;
    width: 40px;
    height: 40px;
    text-align: center;
}

.user-show-button-img {
    width: 70%;
    height: 70%;
}

.user-show-button:hover {
    background-color:#313337;
    cursor: pointer;
}

.user-show-action {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.user-show-action-label {
    font-size: 13px;
    font-family: Lato;
    color: #E8E8E8B3;
    margin-top: 5px;
}